<div class="navyDiv">   
	<div class="container">            
		<footer class="row">
			<div class="col-md-3">
				<h3>About</h3>
				<p>If you’re suffering from stress, anxiety, insomnia, depression, digestive issues, pain, chronic disease, infertility, sports injury, the common cold, or any other physical/mental discomfort, I can provide safe, natural, medical treatments in a nurturing and warm environment.</p>
			</div>
			<div class="col-md-3">
				<h3>Services</h3>
				<ul>
					<li><a href="#/treatments/service-acupuncture">Acupuncture</a></li>
					<li><a href="#/treatments/service-herbs">Herbs</a></li>
					<li><a href="#/treatments/service-tuina">Tuina Message</a></li>
					<li><a href="#/treatments/service-cupping">Cupping</a></li>
					<li><a href="#/treatments/service-aromatherapy">Aromatherapy</a></li>
					<li><a href="#/treatments/service-moxa">Moxa</a></li>
					<li><a href="#/treatments/service-meditation">Meditation</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h3>Testimonials</h3>
				<p>Garryn is the ish for real! You gotta check out this TCM stuff :)</p>
				<i>- Cleveland Bryant</i>
			</div>
			<div class="col-md-3">
				<h3>Contact</h3>
				<p>Garryn Skurulsky<br>
					info@santacruzclinic.com<br>
					831.123.4567</p>
			</div>
		</footer>
		<div class="row" id="copyright">
			<div class="col-md-12">
				<p>Copyright 2014 | Santa Cruz Clinic 831.566.7329</p>
			</div>
		</div><!--row-->
	</div> <!-- /container -->
</div>