<div class="whiteDiv fourThumbs">
        <div class="container">
            <div class="row" id="reveals">
                <div class="col-sm-3 rotate" data-reveal-order="1">
                	<a class="flipLink" href="#/treatments/service-acupuncture">
                        <div class="flip"> 
                            <div class="card"> 
                                <div class="face front"> 
                                    <img src="./img/shot1.jpg" />
                                </div> 
                                <div class="face back"> 
                                    <img src="./img/shot1.jpg" />
                                </div> 
                            </div> <!--card-->
                        </div> <!--flip-->
                        <h2 style="font-family: 'Lustria';">Acupuncture</h2>
                        <p>Nec omnes suscipit ne, denique legendos duo ne.</p>
                    </a>
                </div><!--md-3-->
                <div class="col-sm-3 rotate" data-reveal-order="2">
                	<a class="flipLink" href="#/treatments/service-herbs">
                        <div class="flip"> 
                            <div class="card"> 
                                <div class="face front"> 
                                    <img src="./img/herbs-front-small.jpg" />
                                </div> 
                                <div class="face back"> 
                                    <img src="./img/herbs-2.jpg" />
                                </div> 
                            </div> <!--card-->
                        </div> <!--flip-->
                        <h2 style="font-family: 'Lustria';">Herbs</h2>
                        <p>Libris eloquentiam his id. Ut duo imperdiet splendide.</p>
                    </a>
                </div><!--md-3-->
                <div class="col-sm-3 rotate" data-reveal-order="3">
                	<a class="flipLink" href="#/treatments/service-tuina">
                        <div class="flip"> 
                            <div class="card"> 
                                <div class="face front"> 
                                    <img src="./img/tuina-front-small.jpg" />
                                </div> 
                                <div class="face back"> 
                                    <img src="./img/acupuncture.png" />
                                </div> 
                            </div> <!--card-->
                        </div> <!--flip-->
                        <h2 style="font-family: 'Lustria';">Tuina Message</h2>
                        <p>Libris eloquentiam his id. Ut duo imperdiet splendide.</p>
                    </a>
                </div><!--md-3-->
                <div class="col-sm-3 rotate" data-reveal-order="2">
                	<a class="flipLink" href="#/treatments/service-cupping">
                        <div class="flip"> 
                            <div class="card"> 
                                <div class="face front"> 
                                	<img src="./img/cupping-front-small.jpg" />
                                </div> 
                                <div class="face back"> 
                                    <img src="./img/cupping.jpg" />
                                </div> 
                            </div> <!--card-->
                        </div> <!--flip-->
                        <h2 style="font-family: 'Lustria';">Cupping</h2>
                        <p>Libris eloquentiam his id. Ut duo imperdiet splendide.</p>
                    </a>
                </div><!--md-3-->
            </div><!--row-->
       </div><!--container-->
	</div><!--whiteDiv-->