<!--<div class="homeSlider" ng-include src="homeSliderURL"></div>-->

<div class="homeSlider">
	<div class="bkg">
		<div class="container slide active" data-backgroundImage="1">
			<div class="row">
				<div class="col-md-12" data-homeSlideTitle="1">
					<h1>Relax, Rejuvinate & Heal</h1>
					<h3>Spa, Acupuncture, Tuina Message, Herbal Remedies, Retreat</h3>
					<a href="#/appointment"><button type="button" class="btn btn-primary sliderButton">Make An Apointment</button></a>
				</div>
			</div><!--row-->
		</div><!--container-->
	</div>
</div>

<div ng-include src="fourWhiteSecURL"></div>

<div ng-include src="mobileSectionURL"></div>



<div class="navyDiv">
	<div class="container videoDiv">
		<div class="row">
			<div class="col-md-12 centered">
				<div style="margin-top: -80px;">
					<iframe allowfullscreen="" src="http://player.vimeo.com/video/71876963" frameborder="0" width="750" height="421"></iframe>
				</div> 
			</div>
		</div><!--row-->
	</div><!--container-->
</div>

<div class="retreatDiv">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Retreat</h2>
				<p>Visit our YouTube Channel for more information.Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			</div>
		</div><!--row-->
	</div><!--container-->
</div>