<div class="container secondaryPage">
	<div class="col-xs-12">
		<h1>Login</h1>
        <form action="" autocomplete="on" method="post">
           	<input type="text" name="username" placeholder="username" ng-model="username" required/>
            <input type="password" name="password" placeholder="password" ng-model="password" required/>
            <input type="submit" value="login" ng-click="login()">
        </form>
        <p>Not a member? <a href="#/signup">Sign Up</a></p>
	</div>
</div>