<div class="iPhone">
   	<div class="container">
        <div class="row">
           	<div class="col-md-12 centered">
               	<span>FREE</span>
               	<h2>TAKE CONTROL</h2>
                <h3>Of Your Health</h3>
            </div>
       		<div class="col-md-12 centered">
              	<img style="width: 50%; margin-bottom: -130px;" src="./img/ipad.png">
                <div class="" style="background: white; width: 45%; margin: 0 auto; position: absolute; top: 0;">
                	<p>test</p>
                </div>
            </div>
      	</div><!--row-->
   	</div><!--container-->
</div>
<div class="whitesmokeDiv">
  <div class="container iPhoneLinksDiv">
    <div class="row">
      <div class="col-md-12 centered">
        <span class="track"><a href="#"><img src="./img/track-icon.png"> Track Your Visits</a></span>
        <span class="schedule"><a href="#"><img src="./img/track-icon.png"> Schedule An Apointment</a></span>
        <span class="understanding"><a href="#"><img src="./img/educate-icon.png"> Deepen Your Understanding</a></span>
        <span class="more"><a href="#"><img src="./img/more-icon.png"> More...</a></span>
      </div><!--centered-->
    </div><!--row-->
  </div><!--container-->
</div>
