<div class="container secondaryPage">
	<div class="col-xs-12">
		<h1>Sign Up</h1>
        <form action="http://themeceo.com/Garryn/signup.php" autocomplete="on" method="post">
           	<input type="text" name="username" placeholder="username" required/>
            <input type="password" name="password" placeholder="password" required/>
            <input type="password" name="confirm" placeholder="confirm password" required/>
            <input type="password" name="clinicCode" placeholder="enter Clinic Code" required/>
            <input type="submit" value="login">
        </form>
        <p>Don't have a Clinic Code? <a href="#/contact">Contact Us</a></p>
        <p>Already a member? <a href="#/login">Login</a></p>
	</div>
</div>